/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

#container{
  display: flex;
}

.textwhite{
  color: #fff;
}

.textgrey{
  color: #a3a3a3;
}

.textdarkgrey{
  color: #797b80;
}

a{
  text-decoration: none;
}

/* regole nav */
nav{
  /* regole debug */
  width: 230px;
  height: calc(100vh - 91px);
  background-color: #000000;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: scroll;
}

nav ul{
  list-style-type: none;
  padding-bottom: 30px;
}

nav li{
  padding-bottom: 15px;
}

.list-first a{
  display: flex;
}

.list-first img{
  width: 25px;
}

.list-first span{
  align-self: flex-end;
  padding-left: 15px;
}

#logo{
  padding-bottom: 20px;
}

.block{
  display: none;
}

#logo .none{
  min-width: 150px;
}

#newplaylist a{
  display: flex;
}

#newplaylist i{
  font-size: 40px;
}

#newplaylist span{
  align-self: center;
  padding-left: 15px;
}

.fas.fa-arrow-down{
  font-size: 10px;
  padding: 2px;
  border: 2px solid #a3a3a3;
  border-radius: 50%;
  margin-right: 10px;
}

#infoutente a{
  display: flex;
}

#infoutente span{
  align-self: center;
}

#infoutente img{
  width: 30px;
  background-color: #808080;
  border-radius: 50%;
  margin-right: 10px;
}

#infoutente hr{
  margin-top: 10px;
  margin-bottom: 10px;
}

@media all and (max-width: 535px){
  nav{
    width: 50px;
  }

  .none{
    display: none;
  }

  #logo .block{
    display: block;
  }

  .list-first img{
    width: 20px;
  }
}

/* regole main */
main{
  /* regole debug */
  width: 100%;
  height: calc(100vh - 91px);
}

/* regole main top */
#maintop{
  width: 100%;
  height: 89px;
  background-color: rgba(8,11,18,255);
  position: relative;
}

#maintop a{
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px 60px;
  position: absolute;
  top: 25%;
  right: 5%;
}

/* regole main central */
#maincentral{
  width: 100%;
  height: calc(100% - 89px);
  background-color: #141922;
  overflow-y: scroll;
}

#maincentral ul{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.section{
  padding-left: 30px;
  padding-bottom: 50px;
}

.section span{
  display: inline-block;
}

.section.second li,
.section.third li,
.section.four li{
  max-width: 250px;
  padding-right: 30px;
}

.container-playlist{
  text-align: center;
  position: relative;
}

.container-playlist>img{
  width: 100%;
}

.container-playlist h4{
  padding-top: 20px;
  padding-bottom: 15px;
}

/* regole prima sezione */
.section.first ul{
  justify-content: center;
}

.section.first li{
  padding-right: 40px;
  padding-top: 40px;
}

@media all and (max-width: 711px){
  .section.second li,
  .section.third li,
  .section.four li{
    max-width: 50%;
  }
}

/* regole seconda seczione */
.section.second h2{
  padding-bottom: 30px;
}

/* regole terza sezione e quarta gnerali */
.section.third h2,
.section.four h2{
  padding-bottom: 10px;
}

.section.third span,
.section.four span{
  padding-bottom: 30px;
}

/* regole sezione 4 */
.section.four .container-playlist>img{
  border-radius: 50%;
}

/* regole footer */
footer{
  width: 100%;
  height: 91px;
  background-color: #282828;
}
