/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

#container{
  display: flex;
}

.textwhite{
  color: #fff;
}

.textgrey{
  color: #a3a3a3;
}

.textdarkgrey{
  color: #797b80;
}

.active{
  position: relative;
}

.greenline{
  background-color: #adff2f;
}

a{
  text-decoration: none;
}

a:hover{
  color: #fff;
}

/* regole nav */
nav{
  min-width: 230px;
  height: calc(100vh - 91px);
  background-color: #000000;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

nav ul{
  list-style-type: none;
  padding-bottom: 30px;
}

nav li{
  padding-bottom: 15px;
}

nav a{
  padding-left: 20px;
}

nav h4{
  padding-left: 20px;
  padding-bottom: 15px;
}

/* regole primo container nav */
.list-first a{
  display: flex;
}

.list-first img{
  width: 25px;
}

.list-first span{
  align-self: flex-end;
  padding-left: 15px;
}

nav li .greenline{
  height: 25px;
  width: 3px;
  position: absolute;
  top: 0;
  left: 0;
}

#logo{
  padding-bottom: 20px;
}

.block{
  display: none;
}

#logo .none{
  width: 150px;
}

/* regole secondo container nav */

.container-side-central{
  flex-grow: 1;
}

.container-side-central ul{
  overflow-y: scroll;
  max-height: 30vh;
}

#newplaylist{
  display: flex;
  padding-bottom: 15px;
}

#newplaylist i{
  font-size: 40px;
}

#newplaylist span{
  align-self: center;
  padding-left: 15px;
}

#newplaylist i:hover{
  color: #adff2f;
}

/* regole terzo container nav */
.container-side-bottom .fas.fa-arrow-down{
  width: 20px;
  height: 20px;
  font-size: 14px;
  padding: 1px 0 0 2px;
  border: 2px solid #a3a3a3;
  border-radius: 100%;
  margin-right: 10px;
}

.container-side-bottom a{
  display: flex;
}

.container-side-bottom span{
  align-self: center;
}

.container-side-bottom img{
  width: 30px;
  height: 30px;
  background-color: #808080;
  border-radius: 50%;
  margin-right: 10px;
}

.container-side-bottom hr{
  width: 210px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* media nav */
@media all and (max-width: 535px){
  nav{
    min-width: 50px;
  }

  .none, #newplaylist{
    display: none;
  }

  #logo .block{
    display: block;
  }

  #logo img{
    width: 35px;
    margin-left: 7px;
  }

  nav a{
    padding-left: 10px;
  }

  .container-side-bottom .fas.fa-arrow-down{
    margin-bottom: 10px;
    padding: 0 2px 2px 2px;
  }

  .container-side-bottom img{
    width: 20px;
    height: 20px;
    margin-right: 0;
  }
}

/* regole main */

/* regole main top */
#maintop{
  width: calc(100% - 230px);
  height: 89px;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 230px;
  z-index: 100;
}

#maintop a{
  display: inline-block;
  height: 40px;
  margin-top: 24px;
  margin-right: 3%;
  padding: 10px 25px;
  border: 1px solid #fff;
  border-radius: 20px;
  line-height: 20px;
}

#maintop a:hover{
  transform: scale(1.2);
  color: #adff2f;
}

/* regole main central */
#maincentral{
  width: 100%;
  height: calc(100vh - 91px);
  padding-top: 100px;
  background-color: #141922;
  overflow-y: scroll;
}

#maincentral ul{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.section{
  padding-left: 30px;
  padding-bottom: 50px;
}

.section span{
  display: inline-block;
  padding-bottom: 30px;
}

.section.third li,
.section.four li{
  max-width: 300px;
  margin-right: 20px;
}

.container-playlist{
  text-align: center;
}

.container-playlist:hover{
  transform: scale(1.1);
}

.content-img{
  position: relative;
}

.content-img i{
  font-size: 70px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.content-img:hover i{
  display: block;
}

.content-img:hover img{
  opacity: 0.3;
}

.container-playlist img{
  width: 100%;
}

.container-playlist h4{
  padding-top: 20px;
  padding-bottom: 15px;
}

/* regole prima sezione */
.section.first ul{
  justify-content: center;
}

.section.first li{
  padding-right: 40px;
  padding-top: 40px;
}

.section.first li .greenline{
  width: 30%;
  height: 3px;
  position: absolute;
  top: 100%;
  left: 25%;
}

/* regole seconda seczione */
.section.second h2{
  padding-bottom: 30px;
}

.section.second li{
  max-width: calc((100% / 6) - 20px);
  margin-right: 20px;
}

/* regole terza sezione e quarta gnerali */
.section.third h2,
.section.four h2{
  padding-bottom: 10px;
}

.section.third span,
.section.four span{
  padding-bottom: 30px;
}

/* regole sezione 4 */
.section.four .container-playlist img{
  border-radius: 50%;
}

/* media sezioni main  */
@media all and (max-height: 350px){
  #maintop{
    display: none;
  }
  #maincentral{
    height: calc(100vh - 91px);
  }
}

@media all and (max-width: 899px){
  .section.third ul li:last-child{
    display: none;
  }

  .section.four ul li:last-child{
    display: none;
  }
}
@media all and (min-width: 733px) and (max-width: 870px){
  .section.second li{
    max-width: calc((100% / 4) - 20px);
  }

  .section.second ul li:last-child,
  .section.second ul li:nth-child(5){
    display: none;
  }
}

@media all and (max-width: 732px){
  .section.second li{
    max-width: calc((100% / 2) - 20px);
  }

  .section.second ul li:nth-child(3),
  .section.second ul li:nth-child(4),
  .section.second ul li:nth-child(5),
  .section.second ul li:last-child
  {
    display: none;
  }
}

/* regole footer */
footer{
  width: 100%;
  height: 91px;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 900;
}

footer i:hover{
  color: #34ec72;
}

.barra{
  display: inline-block;
  border: 2px solid #797b80;
  border-radius: 2px;
  position: relative;
}

.progression{
  width: 30%;
  border: 2px solid #fff;
  border-radius: 2px;
  position: absolute;
  top: -2px;
  left: -1px;
}

.fas.fa-circle{
  font-size: 10px;
  color: #fff;
  position: absolute;
  top: -5px;
  left: 28.5%;
  display: none;
}

.barra:hover .progression{
  border: 2px solid #34ec72;
}

.barra:hover .fas.fa-circle{
  display: block;
}

/* regole info song */
.info-song{
  width: 25%;
  padding-left: 0.5%;
  display: flex;
  align-items: center;
}

.info-song>img{
  width: 20%;
  padding-right: 2%;
}

.track{
  display: inline-block;
}

.track.name{
  padding-right: 7%;
}

.track.name>span{
  font-size: 12px;
}

.track.favorite i{
  padding-right: 15px;
}

/* regole info play */
.info-play{
  width: 35%;
  align-self: center;
}

.barra.music{
  width: 100%;
  margin-left: 3%;
  margin-right: 3%;
}

.info-play div:first-child{
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-play div:last-child{
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-play span{
  font-size: 10px;
}

.info-play i{
  font-size: 20px;
}

.info-play .far.fa-play-circle{
  font-size: 35px;
  margin-left: 30px;
  margin-right: 30px;
}

.info-play .fas.fa-step-backward{
  margin-left: 20px;
}

.info-play .fas.fa-step-forward{
  margin-right: 20px;
}
/* regole info volume */
.info-volume{
  width: 20%;
  display: flex;
  align-items: center;
}

.info-volume .textwhite{
  display: inline-block;
}

.barra.volume{
  width: 55%;
}

.info-volume i{
  padding-right: 10px;
}

/* media footer */

@media all and (min-width: 536px) and (max-width: 1004px){
  .info-song{
    width: 25%;
  }

  .info-play{
    width: 40%;
  }

  .info-volume{
    width: 25%;
  }

  .barra.volume{
    width: 30%;
  }
}

@media all and (max-width: 535px){
  .info-song{
    width: 30%;
  }

  .info-song>img{
    width: 35%;
  }

  .info-play{
    width: 37%;
  }

  .barra.music{
    width: 54%;
  }

  .info-volume{
    width: 30%;
  }

  .barra.volume{
    width: 30%;
  }
}
